@import url('https://fonts.cdnfonts.com/css/billabong');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: var(--bluebu);
    text-decoration: none;
}

body {
    --background: #FAFAFA;
    --whiteb: #FFFFFF;
    --bluebu: #3c96ed;
    --bluebz: #258cec;
    --border: #e6e6e6;
    --black: #000000;
    --gray: #8e8e8e;


    background-color: var(--background);
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 14px;
}

#wrapper {
    height: 100vh;
}

#container {
    margin: 0 auto;
    min-height: 100%;
    width: 800px;
    display: flex;
    align-items: center;
}

.column {
    flex-grow: 1;
    width: 50%;
}

.left {
    background-image: url("./img/main-foto.png");
    background-size: 450px;
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
    margin-bottom: 50px;
}

.right {
    padding-left: 20px;
}

.login-panel {
    background-color:   var(--whiteb);
    border: 1px solid var(--border);
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo h1 {
    font-family: 'Billabong', cursive;
    font-weight: normal;
    margin: 20px 0;
    font-size: 40px;
    font-weight: 500;
}

.login-panel form {
    display: flex;
    flex-direction: column;
}

input[type="text"], input[type="password"]{
    background-color: var(--whiteb);
    border: 1px solid var(--border);
    height: 40px;
    padding: 10px;
    margin: 10px auto 0;
    width: 320px;
    outline: 0;
}

input[type="text"]::placeholder,
input[type="password"]::placeholder {
    color: rgb(165, 164, 164);
}

input[type="password"]:focus,
input[type="text"]:focus {
    border: 1px solid #a1a1a1;
}

input[type="submit"] {
    margin: 10px;
    width: 320px;
    height: 30px;
    border: 0;
    background-color: var(--bluebu);
    border-radius: 4px;
    color: var(--whiteb);
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: var(--bluebz);
}

.infobox {
    background-color: var(--whiteb);
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--border);
    margin: 10px auto 0;
}

.infobox p {
    user-select: none;
}   

.infobox a {
    font-weight: bold;
}

.infobox a:hover {
    text-decoration: underline;
}

.get-app-panel {
    margin-top: 20px;
    text-align: center;
}

.app-buttons {
    margin-top: 16px;
}

.app-buttons img {
    height: 40px;
}

footer {
    text-align: center;
    height: 50px;
    margin-top: -50px;
}

.footer-inner a {
    color: var(--black);
    text-transform: uppercase;
    font-weight: bold;
    margin-right: 8px;
}

.text-small {
    font-size: 12px;
    font-weight: bold;
    color: var(--gray);
    text-transform: uppercase;
    padding-left: 20px;
    display: inline-block;
}

/* PAGINA SIGNUP */

#container-signup {
    margin: 0 auto;
    min-height: 100%;
    max-width: 400px;
    display: flex;
    align-items: center;
}

.message {
    margin: 10px 70px;
    text-align: center;
}

.message span {
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    line-height: 20px;
    color: var(--gray);
}

.cta-button {
    width: 320px;
    margin: 10px 0;
    height: 30px;
    background-color: var(--bluebu);
    color: var(--whiteb);
    border: 0;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    font-weight: bold;
}

.cta-button:hover {
    background-color: var(--bluebz);
}

.divisor-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.line {
    height: 1px;
    background-color: var(--border);
    width: 142px;
}

.divisor-tag {
    font-weight: bold;
    margin: 0 10px;
    color: var(--gray);
    user-select: none;
}

/* FIM PAGINA SIGNUP */

/* RESPONSIVIDADE */

@media (max-width: 850px) {
    .left {
        display: none;
    }
    #container {
        width: 70%;
    }
    .right {
        padding: 0;
    }
}

@media (max-width: 560px) {
    #container {
        width: 90%;
    }
    #container-signup {
        width: 90%;
    }
    .message {
        margin: 10px 25px;
        text-align: center;
    }
}